<launch>
 <!-- <param name="robot_description" textfile="$(find turtlebot3_visualize)/turtlebot3_description/urdf/turtlebot3_burger.urdf.xacro" />
  <param name="use_gui" value="false"/>-->

  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
  <arg name="world_name" value="$(find turtlebot3_visualize)/turtlebot3_description/world/square.world"/>
  <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="recording" value="false"/>
  <arg name="debug" value="false"/>
    </include>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_visualize)/turtlebot3_description/urdf/turtlebot3_burger.urdf.xacro" />

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model turtlebot3_burger -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
    <node pkg="gazebo_ros" type="spawn_model" name="tb3_2" args="-urdf -model turtlebot3_burger -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

  <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop" output="screen"/>

  <node pkg="turtlebot3_upfront" type="turtlebot3_upfront"
        args="/turtle1" name="turtle1_tf_publisher" respawn="false" output="screen" >
    <param name="turtle" type="string" value="turtle1" />
    <!--<param name="parent" type="string" value="odom" />-->
  </node>
  <node pkg="turtlebot3_upfront" type="tf_publisher.py"
        args="/turtle2" name="turtle2_tf_publisher" >
    <param name="turtle" type="string" value="turtle2"/>
   <!-- <param name="parent" type="string" value="base_footprint" />-->
  </node>
  <node pkg="learning_tf" type="turtle_tf_listener.py"
          name="listener" />

  <!--<node pkg="learning_tf" type="fixed_tf_broadcaster.py"
          name="broadcaster_fixed" />-->

</launch>